@use 'utopia-core-scss' as utopia;

$body_font: "FT System", sans-serif;
$heading_font: "FT System", sans-serif;
$mono_font: monospace;

// $beige-pale: #F7F7F0;
$beige: #F5F0E9;
// $jaune: hsla(38, 100%, 65%, 1);
// $jaune-pale: hsla(38, 100%, 82%, 1);
$brun-fonce: #675751;
$brun: #CAB893;

// $corail: hsla(17, 73%, 70%, 1);
// $corail-pale: hsla(17, 74%, 85%, 1);

$gris-fonce: #808080;
$gris: hsla(0, 0%, 95%, 1);
$gris-pale: #F3F3F3;

$bleu-pale: #2A488C;
$bleu: #14253D;
$bleu-fonce: #0C1727;

$vert: #043E43;
// $vert-pale: hsla(72, 19%, 68%, 1);

// $mauve-fonce: #4A355C;
// $mauve: #CDB4E2;
// $mauve-pale: #F5EAFF;

// $vert-fonce: #1C4526;
// $vert: #99E1A8;
// $vert-pale: #E8FEED;

// $sarcelle: #1D4742;
// $aqua: #95E0D1;
// $aqua-pale: #DBFBF4;

$rouge: #D10502;
// $bourgogne: #8A0132;
// $rose: #FFB5CF;
// $rose-pale: #FFE7EE;

$noir: $bleu;
$blanc: #FFF;
$muted: rgba($bleu, 0.15);

$grey: $gris-pale;
$accent: $bleu;
$accent-light: $bleu-pale;
$accent-dark: $bleu-fonce;

$base: 15px;
  
/* @link https://utopia.fyi/type/calculator?c=500,18,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 500,
    "maxWidth": 1800,
    "minFontSize": 18,
    "maxFontSize": 20,
    "minTypeScale": 1.2,
    "maxTypeScale": 1.25,
    "positiveSteps": 8,
    "negativeSteps": 3,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
}

$s-3: var(--step--3);
$s-2: var(--step--2);
$s-1: var(--step--1);
$s0: var(--step-0);
$s1: var(--step-1);
$s2: var(--step-2);
$s3: var(--step-3);
$s4: var(--step-4);
$s5: var(--step-5);
$s6: var(--step-6);
$s7: var(--step-7);
$s8: var(--step-8);
$radius: $s-3;
$max: 1440px;

$tablet_landscape: 1380px;
$tablet_portrait: 1024px;
$mobile: 888px;

$number_of_columns: 12;